<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">MiApp</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNav"
          aria-controls="menuNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menuNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" *ngIf="!estaLogueado">
        <a class="nav-link" routerLink="/ingresar">Ingresar</a>
      </li>
      <li class="nav-item" *ngIf="!estaLogueado">
        <a class="nav-link" routerLink="/registrarse">Registrarse</a>
      </li>
      <li class="nav-item" *ngIf="estaLogueado">
        <a class="nav-link" routerLink="/ahorros">Ahorros</a>
      </li>
      <li class="nav-item" *ngIf="estaLogueado">
        <a class="nav-link" routerLink="/gastos">Gastos</a>
      </li>
      <li class="nav-item" *ngIf="estaLogueado">
        <button class="btn btn-link nav-link" (click)="logout()">Salir</button>
      </li>
    </ul>
  </div>
</nav>
